<!DOCTYPE html>
<html lang="en">
<head>
    <meta> name="author"  content="github.com/RatoAnarquista"
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aba</title>
</head>
<body>
    <!--eu sou um comentario-->
     <marquee bgColor="red" direction="left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</marquee>
     <marquee bgColor="blue" direction="up">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</marquee>
     <marquee bgcolor="purple" direction="down">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</marquee>
     <marquee bgColor="green" direction="right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</marquee>
    </body>
</html>