<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estrutura</title>
</head>
<body>
    <p>Este é um paragrafo.</p>
    <hr>
    <p>Lorem ipsum dolor sit amet.</p>
    <hr>
    <p>Lorem ipsum dolor sit, <br> amet.</p>
    <hr>
    <p>adispicing</p>
    <hr>
    <p>Lorem ipsum <p>lorem</p> dolor sit amet.</p>
    <hr>
    <p>Lorem ipsum <p><span>mesclar</span></p> dolor sit 
    amet.</p>
    <hr>
</body>
</html>